---
dependencies:
  - role: common
  - role: cyb_certificates
  - role: users
  - role: ssh
  - role: git
  - role: postgresql_server
    postgresql_server_remote_users: ["{{ chiton_db_user_name }}"]
    postgresql_server_version: "{{ chiton_postgresql_version }}"
  - role: postgresql_client
    postgresql_client_version: "{{ chiton_postgresql_version }}"
  - role: redis
  - role: python
    python_version: "{{ chiton_python_version }}"
  - role: chiton
    chiton_db_host: "{{ postgresql_server_address }}"
    chiton_db_port: "{{ postgresql_server_port }}"
    chiton_db_root_name: "{{ postgresql_server_root_user }}"
    chiton_db_root_password: "{{ postgresql_server_root_password }}"
    chiton_pip_bin_name: "{{ python_pip_executable }}"
    chiton_pg_dump_path: "{{ postgresql_server_pg_dump_path }}"
    chiton_pg_restore_path: "{{ postgresql_server_pg_restore_path }}"
    chiton_python_bin_name: "{{ python_executable }}"
  - role: himation
  - role: nginx
  - role: postfix
  - role: monit
  - role: logrotate
  - role: firewall
    firewall_ports:
      - port: "{{ chiton_server_port }}"
      - port: "{{ chiton_server_port_https }}"
      - port: "{{ postgresql_server_port }}"
        protocol: tcp
        allow: "{{ postgresql_server_allow_external_connections }}"
