---
dependencies:
  - role: common
  - role: cyb_certificates
  - role: users
  - role: ssh
  - role: git
  - role: postgresql_server
    postgresql_server_remote_users: ["{{ chiton_db_user_name }}"]
    postgresql_server_version: "{{ chiton_postgresql_version }}"
  - role: postgresql_client
    postgresql_client_version: "{{ chiton_postgresql_version }}"
  - role: redis
  - role: python
    python_version: "{{ chiton_python_version }}"
  - role: nodejs
    nodejs_version: "{{ himation_nodejs_version }}"
  - role: chiton
    chiton_api_user_name: himation
    chiton_db_host: "{{ postgresql_server_address }}"
    chiton_db_port: "{{ postgresql_server_port }}"
    chiton_db_root_name: "{{ postgresql_server_root_user }}"
    chiton_db_root_password: "{{ postgresql_server_root_password }}"
    chiton_gunicorn_statsd_host: "localhost:{{ datadog_statsd_port }}"
    chiton_pip_bin_name: "{{ python_pip_executable }}"
    chiton_pg_dump_path: "{{ postgresql_server_pg_dump_path }}"
    chiton_pg_restore_path: "{{ postgresql_server_pg_restore_path }}"
    chiton_python_bin_name: "{{ python_executable }}"
    chiton_redis_host: "{{ redis_host }}"
    chiton_redis_port: "{{ redis_port }}"
    chiton_server_name: "{{ app_server_chiton_server_name }}"
  - role: varnish
    varnish_backend_port: "{{ himation_app_server_port }}"
    varnish_port: "{{ app_server_himation_varnish_port }}"
    varnish_telnet_port: "{{ app_server_himation_varnish_telnet_port }}"
    varnish_use_cache: "{{ himation_use_caching }}"
  - role: himation
    himation_app_server_ca_cert_path: "{{ cyb_certificates_ca_certificate_path }}"
    himation_cache_gateway_url: "http://127.0.0.1:{{ varnish_port }}"
    himation_chiton_endpoint: "http://127.0.0.1:{{ chiton_server_port }}/api"
    himation_chiton_token: "{{ chiton_api_user_token }}"
    himation_server_name: "{{ app_server_himation_server_name }}"
  - role: nginx
  - role: postfix
  - role: monit
  - role: logrotate
  - role: datadog
  - role: firewall
    firewall_ports:
      - port: "{{ app_server_chiton_port }}"
      - port: "{{ app_server_chiton_port_https }}"
      - port: "{{ postgresql_server_port }}"
        protocol: tcp
        allow: "{{ postgresql_server_allow_external_connections }}"
