---
chiton_activate_virtualenv: yes
chiton_allow_development: yes
chiton_allow_tests: yes
chiton_amazon_associates_tracking_id: covyoubas-dev-20
chiton_config_debug: yes
chiton_current_version: development
chiton_daemonize: no
chiton_group: chiton
chiton_group_id: 2000
chiton_root_dir: /var/cyb-chiton
chiton_server_port: 80
chiton_server_port_https: 443
chiton_source_dir: /var/cyb-chiton/source
chiton_user: chiton
chiton_user_authorized_keys: "{{ users_admins | map(attribute='public_keys') | flatten | list }}"
chiton_user_id: 2000
himation_group: himation
himation_group_id: 3000
himation_source_dir: /var/cyb-himation
himation_user: himation
himation_user_id: 3000
monit_alert_recipient: development@coveryourbasics.com
postfix_relay_user: cyb-development
postfix_universal_redirect: development@coveryourbasics.com
postgresql_server_allow_external_connections: yes
vagrant_host_home_dir: /vagrant-host-home
