---
chiton_allow_tests: yes
chiton_activate_venv: yes
chiton_amazon_associates_tracking_id: covyoubas-dev-20
chiton_config_debug: yes
chiton_daemonize: no
chiton_env_name: development
chiton_group: chiton
chiton_group_id: 2000
chiton_server_port: 80
chiton_server_port_https: 443
chiton_source_dir: /var/cyb-chiton
chiton_user: chiton
chiton_user_id: 2000
himation_group: himation
himation_group_id: 3000
himation_source_dir: /var/cyb-himation
himation_user: himation
himation_user_id: 3000
postfix_relay_host: smtp.sendgrid.net
postfix_relay_port: 587
postfix_relay_user: cyb-development
vagrant_host_home_dir: /vagrant-host-home
