---
app_server_chiton_port: 80
app_server_chiton_port_https: 443
chiton_activate_virtualenv: yes
chiton_allow_api_browsing: yes
chiton_allow_development: yes
chiton_allow_tests: yes
chiton_amazon_associates_tracking_id: coveryourbasics-development-20
chiton_backups_s3_bucket: chiton-backups-development
chiton_config_debug: yes
chiton_current_version: development
chiton_daemonize: no
chiton_git_ref: development
chiton_group: chiton
chiton_group_id: 2000
chiton_root_dir: /var/cyb-chiton
chiton_source_dir: /var/cyb-chiton/source
chiton_track_errors: no
chiton_user: chiton
chiton_user_authorized_keys: "{{ users_admins | map(attribute='public_keys') | flatten | list }}"
chiton_user_id: 2000
himation_allow_development: yes
himation_current_version: development
himation_daemonize: no
himation_debug_assets: yes
himation_git_ref: development
himation_group: himation
himation_group_id: 3000
himation_node_env: development
himation_optimize_assets: no
himation_root_dir: /var/cyb-himation
himation_source_dir: /var/cyb-himation/source
himation_track_errors: no
himation_use_debug_logging: yes
himation_user: himation
himation_user_authorized_keys: "{{ users_admins | map(attribute='public_keys') | flatten | list }}"
himation_user_id: 3000
monit_alert_recipient: development@coveryourbasics.com
postfix_relay_user: cyb-development
postfix_universal_redirect: development@coveryourbasics.com
postgresql_server_allow_external_connections: yes
vagrant_host_home_dir: /vagrant-host-home

vagrant_hosts:
  - user: "{{ chiton_user }}"
    group: "{{ chiton_group }}"
