check process chiton with pidfile {{ chiton_server_pidfile_path }}
  start program = "/etc/init.d/chiton start"
    as uid {{ chiton_user }} and gid {{ chiton_group }}
  stop program = "/etc/init.d/chiton stop"
    as uid {{ chiton_user }} and gid {{ chiton_group }}
