{
    "allowed_hosts": [
      "{{ chiton_server_name | require_value }}"
    ],
    "amazon_associates_aws_access_key_id": "{{ chiton_amazon_associates_aws_access_key_id | require_value }}",
    "amazon_associates_aws_secret_access_key": "{{ chiton_amazon_associates_aws_secret_access_key | require_value }}",
    "amazon_associates_tracking_id": "{{ chiton_amazon_associates_tracking_id | require_value }}",
    "database": {
        "engine": "postgresql",
        "host": "{{ chiton_db_host }}",
        "name": "{{ chiton_db_name }}",
        "password": "{{ chiton_db_user_password }}",
        "port": {{ chiton_db_port }},
        "user": "{{ chiton_db_user_name }}"
    },
    "debug": {{ chiton_config_debug | lower }},
    "default_email": "{{ chiton_default_email }}",
    "file_logging": {{ chiton_daemonize | lower }},
    "log_file": "{{ chiton_app_log_path }}",
    "log_level": "{{ chiton_log_level }}",
    "secret_key": "{{ chiton_config_secret_key | require_value }}",
    "server_email": "{{ chiton_server_email }}",
    "shopstyle_uid": "{{ chiton_shopstyle_uid | require_value }}",
    "static_root": "{{ chiton_assets_dir }}",
    "static_url": "{{ chiton_assets_url | trailing_slash_url }}"
}
