{
  "allow_api_browsing": {{ chiton_allow_api_browsing | lower }},
  "allowed_hosts": [
    "{{ chiton_server_name | require_value }}",
    "127.0.0.1",
    "127.0.0.1:{{ chiton_server_port }}"
  ],
  "amazon_associates_aws_access_key_id": "{{ chiton_amazon_associates_aws_access_key_id | require_value }}",
  "amazon_associates_aws_secret_access_key": "{{ chiton_amazon_associates_aws_secret_access_key | require_value }}",
  "amazon_associates_tracking_id": "{{ chiton_amazon_associates_tracking_id | require_value }}",
  "conn_max_age": {{ chiton_conn_max_age }},
  "database": {
    "engine": "postgresql",
    "host": "{{ chiton_db_host }}",
    "name": "{{ chiton_db_name }}",
    "password": "{{ chiton_db_user_password }}",
    "port": {{ chiton_db_port }},
    "user": "{{ chiton_db_user_name }}"
  },
  "debug": {{ chiton_config_debug | lower }},
  "default_email": "{{ chiton_default_email }}",
  "environment": "{{ chiton_environment }}",
  "file_logging": {{ chiton_daemonize | lower }},
  "log_file": "{{ chiton_app_log_path }}",
  "log_level": "{{ chiton_log_level }}",
  "media_root": "{{ chiton_media_dir }}",
  "media_url": "{{ chiton_external_media_url | trailing_slash_url }}",
  "public_api": false,
  "redis": {
    "db": {{ chiton_redis_db }},
    "host": "{{ chiton_redis_host }}",
    "port": {{ chiton_redis_port }}
  },
  "secret_key": "{{ chiton_config_secret_key | require_value }}",
  "sentry_dsn": "{{ chiton_sentry_dsn | require_value }}",
  "server_email": "{{ chiton_server_email }}",
  "shopstyle_uid": "{{ chiton_shopstyle_uid | require_value }}",
  "static_root": "{{ chiton_current_version_assets_dir }}",
  "static_url": "https://{{ chiton_server_name }}{{ chiton_assets_url | trailing_slash_url }}",
  "track_errors": {{ chiton_track_errors | lower }},
  "trusted_proxy_ips": ["127.0.0.1"]
}
