[newrelic]
app_name = Chiton ({{ chiton_environment | title }})
developer_mode = {{ chiton_new_relic_enabled | ternary('false', 'true') }}
license_key = {{ chiton_new_relic_license_key }}
monitor_mode = {{ chiton_new_relic_enabled | ternary('true', 'false') }}

log_file = {{ chiton_log_dir }}/newrelic.log
log_level = info
ssl = true

transaction_tracer.enabled = true
transaction_tracer.transaction_threshold = apdex_f
transaction_tracer.record_sql = obfuscated
transaction_tracer.stack_trace_threshold = 0.5
transaction_tracer.explain_enabled = true
transaction_tracer.explain_threshold = 0.5

error_collector.enabled = true
thread_profiler.enabled = true
