#!/bin/bash

alias ll="ls -hlF"

export CHITON_CONFIG_FILE="{{ chiton_config_file }}"
export NEW_RELIC_CONFIG_FILE="{{ chiton_new_relic_config_file }}"

{% if chiton_activate_virtualenv %}
cd "{{ chiton_scripts_dir }}" && . "{{ chiton_virtualenv_dir }}/bin/activate"
{% endif %}
