upstream {{ chiton_server_upstream_name }} {
  server unix://{{ chiton_socket_path }};
}

server {
  listen {{ chiton_server_port }};
  listen {{ chiton_server_port_https }} ssl http2;

  {% if chiton_server_names %}
    server_name {{ chiton_server_names | join(' ') }};
  {% endif %}

  ssl_certificate {{ chiton_ssl_certificate_path | require_value }};
  ssl_certificate_key {{ chiton_ssl_certificate_key_path | require_value }};

  gzip on;
  gzip_types application/javascript text/css;
  gzip_vary on;

  location {{ chiton_assets_url | trailing_slash_url }} {
    alias {{ chiton_assets_dir | trailing_slash_fs }};
    autoindex off;
  }

  try_files $uri $uri/ @{{ chiton_server_upstream_name }};
  location @{{ chiton_server_upstream_name }} {
    include uwsgi_params;
    uwsgi_pass {{ chiton_server_upstream_name }};
  }

  client_max_body_size 10M;
  server_tokens off;
}
