upstream {{ chiton_server_upstream_name }} {
  server {{ chiton_server_address_local }}:{{ chiton_server_port_local }} fail_timeout=0;
}

server {
  listen {{ chiton_server_address }}:{{ chiton_server_port }};

  {% if chiton_use_https %}
    listen {{ chiton_server_address }}:{{ chiton_server_port_ssl }} ssl;
  {% endif %}

  try_files $uri $uri/ @{{ chiton_server_upstream_name }};
  location @{{ chiton_server_upstream_name }} {
    proxy_pass http://{{ chiton_server_upstream_name }};

    proxy_set_header Client-IP $remote_addr;
    proxy_set_header Host $http_host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Real-IP $remote_addr;
  }

  client_max_body_size 10M;
  server_tokens off;
}
