[uwsgi]
chdir = {{ chiton_root_dir }}
env = CHITON_CONFIG_FILE={{ chiton_config_file }}
env = DJANGO_SETTINGS_MODULE=chiton.settings
gid = {{ chiton_group }}
harakiri = {{ chiton_uwsgi_harakiri }}
master = true
module = chiton.wsgi:application
processes = {{ chiton_uwsgi_processes }}
uid = {{ chiton_user }}
virtualenv = {{ chiton_virtualenv_dir }}
zerg = {{ chiton_slave_socket_path }}

{% if chiton_daemonize %}
daemonize2 = {{ chiton_slave_log_path }}
pidfile2 = {{ chiton_slave_pidfile_path }}
vacuum = true
{% endif %}
