---
- name: restart chiton
  shell: "{{ chiton_uwsgi_bin_path | quote }} --ini {{ chiton_zerg_pool_ini_file | quote }} $(if [ -f '{{ chiton_zerg_pool_pidfile_path | quote }}' ]; then echo '--reload {{ chiton_zerg_pool_pidfile_path | quote }}'; fi)"
  notify:
    - reload chiton

- name: reload chiton
  shell: "{{ chiton_uwsgi_bin | quote }} --ini {{ chiton_uwsgi_ini_file | quote }} $(if [ -f '{{ chiton_pidfile_path | quote }}' ]; then echo '--reload {{ chiton_pidfile_path | quote }}'; fi)"
  when: chiton_daemonize
