---
- name: add the Brightbox Ruby repository
  apt_repository:
    repo: ppa:brightbox/ruby-ng
    state: present

- name: install Ruby v{{ ruby_version }}
  apt:
    name: ruby{{ ruby_version }}
    state: latest

- name: install Bundler v{{ ruby_bundler_version }}
  gem:
    name: bundler
    version: "{{ ruby_bundler_version }}"
    user_install: no
    state: present
