limit_req_zone $binary_remote_addr zone={{ app_server_himation_limit_zone_name }}:10m rate=1r/s;

upstream {{ app_server_himation_upstream_name }} {
  keepalive 50;
  server 127.0.0.1:{{ app_server_himation_varnish_port }};
}

server {
  listen {{ app_server_himation_port }};
  server_name {{ app_server_himation_server_name }};

  location /{{ certbot_challenges_dir_name }}/ {
    root {{ himation_public_dir }};
  }

  location / {
    return 301 https://$server_name$request_uri;
  }
}

{% for variant in app_server_himation_server_name_variants %}
server {
  listen {{ app_server_himation_port }};
  server_name {{ variant }};
  return 301 https://{{ app_server_himation_server_name }}$request_uri;
}

server {
  listen {{ app_server_himation_port_https }} ssl http2;
  server_name {{ variant }};
  return 301 https://{{ app_server_himation_server_name }}$request_uri;
}
{% endfor %}

server {
  listen {{ app_server_himation_port_https }} ssl http2;
  server_name {{ app_server_himation_server_name }};

  ssl_certificate {{ app_server_himation_ssl_certificate_path }};
  ssl_certificate_key {{ app_server_himation_ssl_key_path }};

  {% if certbot_is_public %}
  ssl_stapling on;
  ssl_stapling_verify on;
  ssl_trusted_certificate {{ app_server_chiton_ssl_chain_path }};

  resolver 8.8.8.8 8.8.4.4;
  {% endif %}

  add_header Strict-Transport-Security "max-age=31536000; includeSubdomains;";

  autoindex off;
  root {{ himation_public_dir }};

  error_page 403 =404 /{{ nginx_404_page | basename }};
  error_page 404 /{{ nginx_404_page | basename }};
  error_page 500 502 503 504 /{{ nginx_500_page | basename }};

  location = /{{ nginx_404_page | basename }} {
    root {{ nginx_404_page | dirname }};
    internal;
  }

  location = /{{ nginx_500_page | basename }} {
    root {{ nginx_500_page | dirname }};
    internal;
  }

  location / {
    try_files $uri @{{ app_server_himation_proxy_name }};
  }

  location {{ himation_assets_path | trailing_slash_url }} {
    alias {{ himation_assets_dir | trailing_slash_fs }};

    {% if himation_optimize_assets %}
      add_header Cache-Control "public";
      expires max;
    {% else %}
      add_header Cache-Control "no-cache";
      add_header ETag "";
      add_header Last-Modified "";
    {% endif %}
  }

  {% for url in himation_rate_limited_urls %}
  location {{ url | trailing_slash_url }} {
    limit_req zone={{ app_server_himation_limit_zone_name }} burst=5;
    try_files $uri @{{ app_server_himation_proxy_name }};
  }
  {% endfor %}

  location @{{ app_server_himation_proxy_name }} {
    proxy_intercept_errors {{ himation_track_errors | ternary('on', 'off') }};
    proxy_redirect off;
    proxy_set_header Host $http_host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto https;

    proxy_http_version 1.1;
    proxy_set_header Connection "";

    proxy_pass http://{{ app_server_himation_upstream_name }};
  }

  client_max_body_size 2M;
}
