---
- name: create the application database user
  postgresql_user:
    name: "{{ chiton_db_user_name }}"
    password: "{{ chiton_db_user_password | require_value }}"
    role_attr_flags: "{{ chiton_allow_tests | ternary('CREATEDB,', '') }}NOSUPERUSER"
    login_host: "{{ chiton_db_host | require_value }}"
    login_password: "{{ chiton_db_root_password | require_value }}"
    login_user: "{{ chiton_db_root_name | require_value }}"
    port: "{{ chiton_db_port | require_value }}"
    state: present

- name: create the application database with the application user as its owner
  postgresql_db:
    name: "{{ chiton_db_name }}"
    owner: "{{ chiton_db_user_name }}"
    login_host: "{{ chiton_db_host | require_value }}"
    login_password: "{{ chiton_db_root_password | require_value }}"
    login_user: "{{ chiton_db_root_name | require_value }}"
    port: "{{ chiton_db_port | require_value }}"
    state: present

- name: grant read privileges on the postgres database to the application user
  postgresql_privs:
    db: postgres
    objs: ALL_IN_SCHEMA
    roles: "{{ chiton_db_user_name }}"
    privs: SELECT
    grant_option: no
    login_host: "{{ chiton_db_host | require_value }}"
    login_password: "{{ chiton_db_root_password | require_value }}"
    login_user: "{{ chiton_db_root_name | require_value }}"
    port: "{{ chiton_db_port | require_value }}"
    state: present
  when: chiton_allow_tests

- name: sync the database user settings with Django's recommendations
  postgresql_user_setting:
    user: "{{ chiton_db_user_name }}"
    password: "{{ chiton_db_user_password | require_value }}"
    setting: "{{ item.setting }}"
    value: "{{ item.value }}"
    login_host: "{{ chiton_db_host | require_value }}"
    admin_user: "{{ chiton_db_root_name | require_value }}"
    admin_password: "{{ chiton_db_root_password | require_value }}"
    port: "{{ chiton_db_port | require_value }}"
  with_items:
    - setting: client_encoding
      value: UTF8
    - setting: default_transaction_isolation
      value: read committed
    - setting: timezone
      value: UTC
