---
- name: install all Python dependencies in a virtualenv
  pip:
    requirements: "{{ chiton_requirements_dir }}/{{ item }}"
    executable: "{{ python_pip_executable }}"
    virtualenv: "{{ chiton_virtualenv_dir }}"
    virtualenv_python: "{{ python_executable }}"
    virtualenv_site_packages: no
    state: present
  with_items:
    - core.txt
    - development.txt

- name: run pending database migrations
  shell: "{{ chiton_python_bin | quote }} manage.py migrate"
  args:
    chdir: "{{ chiton_source_dir }}"
  environment:
    CHITON_CONFIG_FILE: "{{ chiton_config_file }}"
  register: chiton_migrate_result
  changed_when: "'No migrations to apply.' not in chiton_migrate_result.stdout"

- name: create the in-app administrator account
  shell: "{{ chiton_python_bin | quote }} manage.py chiton_ensuresuperuser --username {{ chiton_admin_name | quote }} --email {{ chiton_admin_email | quote }} --password {{ chiton_admin_password | require_value | quote }}"
  args:
    chdir: "{{ chiton_source_dir }}"
  environment:
    CHITON_CONFIG_FILE: "{{ chiton_config_file }}"
  no_log: yes
  register: chiton_ensuresuperuser_result
  changed_when: "'User modified' in chiton_ensuresuperuser_result.stdout"
