---
- name: install all Python dependencies in a virtualenv
  pip:
    requirements: "{{ chiton_requirements_dir }}/{{ item }}"
    executable: "{{ python_pip_executable }}"
    virtualenv: "{{ chiton_virtualenv_dir }}"
    virtualenv_python: "{{ python_executable }}"
    virtualenv_site_packages: no
    state: present
  with_items:
    - core.txt
    - development.txt

- name: create the application database
  postgresql_db:
    name: "{{ chiton_db_name }}"
    login_host: "{{ postgresql_server_address }}"
    login_password: "{{ postgresql_server_root_password }}"
    login_user: "{{ postgresql_server_root_user }}"
    port: "{{ postgresql_server_port }}"
    state: present
  no_log: yes

- name: create the application database user
  postgresql_user:
    name: "{{ chiton_db_user }}"
    password: "{{ chiton_db_password }}"
    db: "{{ chiton_db_name }}"
    priv: ALL
    role_attr_flags: LOGIN
    login_host: "{{ postgresql_server_address }}"
    login_password: "{{ postgresql_server_root_password }}"
    login_user: "{{ postgresql_server_root_user }}"
    port: "{{ postgresql_server_port }}"
    state: present
  no_log: yes
