---
- set_fact:
    chiton_user_custom_profile: "{{ chiton_user_details.home }}/.profile.chiton"

- set_fact:
    chiton_allowed_hosts:
      - "{{ chiton_server_name }}"
    when: chiton_allowed_hosts is undefined

- name: add all known keys to the application user's authorized keys
  authorized_key:
    user: "{{ chiton_user }}"
    key: "{{ chiton_user_authorized_keys | join('\n') }}"
    exclusive: yes
    state: present

- name: create the source directory
  file:
    path: "{{ chiton_source_dir }}"
    owner: "{{ chiton_user }}"
    group: "{{ chiton_group }}"
    mode: 0755
    state: directory

- name: fetch the source code
  git:
    accept_hostkey: yes
    clone: yes
    dest: "{{ chiton_source_dir }}"
    repo: git@github.com:justinlocsei/chiton.git
    update: yes
    version: "{{ chiton_git_branch }}"
  become: yes
  become_user: "{{ chiton_user }}"

- name: create an application configuration file
  template:
    src: config.json.j2
    dest: "{{ chiton_config_file }}"
    owner: "{{ chiton_user }}"
    group: "{{ chiton_group }}"
    mode: 0600

- name: create a uWSGI configuration file
  template:
    src: uwsgi.ini.j2
    dest: "{{ chiton_uwsgi_ini_file }}"
    owner: "{{ chiton_user }}"
    group: "{{ chiton_group }}"
    mode: 0600
  notify:
    - reload chiton

- name: create a profile script to customize the application user's environment
  template:
    src: profile.j2
    dest: "{{ chiton_user_custom_profile }}"
    owner: "{{ chiton_user }}"
    group: "{{ chiton_group }}"
    mode: 0644

- name: ensure that the application user loads the custom profile
  lineinfile:
    dest: "{{ chiton_user_details.home }}/.profile"
    line: ". {{ chiton_user_custom_profile }}"
    state: present
    owner: "{{ chiton_user }}"
    group: "{{ chiton_group }}"
    mode: 0600

- name: create a run directory
  file:
    path: "{{ chiton_pidfile_path | dirname }}"
    owner: "{{ chiton_user }}"
    group: "{{ chiton_group }}"
    mode: 0755
    state: directory

- name: create a log directory
  file:
    path: "{{ chiton_log_path | dirname }}"
    owner: "{{ chiton_user }}"
    group: "{{ chiton_group }}"
    mode: 0755
    state: directory
