---
- set_fact:
    chiton_user_custom_profile: "{{ chiton_user_details.home }}/.profile.chiton"

- name: add all known keys to the application user's authorized keys
  authorized_key:
    user: "{{ chiton_user }}"
    key: "{{ chiton_user_authorized_keys | join('\n') }}"
    exclusive: yes
    state: present

- name: fetch the source code
  git:
    accept_hostkey: yes
    clone: yes
    dest: "{{ chiton_source_dir }}"
    repo: git@github.com:justinlocsei/chiton.git
    update: yes
    version: "{{ chiton_git_branch }}"

- name: create an application configuration file
  template:
    src: config.json.j2
    dest: "{{ chiton_config_file }}"
    mode: 0600

- name: create a profile script to customize the application user's environment
  template:
    src: profile.j2
    dest: "{{ chiton_user_custom_profile }}"
    mode: 0644

- name: ensure that the application user loads the custom profile
  lineinfile:
    dest: "{{ chiton_user_details.home }}/.profile"
    line: ". {{ chiton_user_custom_profile }}"
    state: present
