---
- name: configure the application user
  include: user.yml

- name: configure the application database
  include: database.yml

- name: establish the application's file structure
  include: structure.yml

- name: install dependency libraries
  include: libraries.yml

- name: install application dependencies
  include: dependencies.yml

- name: configure the application's environment
  include: environment.yml

- name: run initialization scripts
  include: initialization.yml
  become: yes
  become_user: "{{ chiton_user }}"

- name: configure the application's assets
  include: assets.yml

- name: configure the application's scripts
  include: scripts.yml
