---
- set_fact:
    chiton_requirements_dir: "{{ chiton_source_dir }}/requirements"
    chiton_virtualenv_dir: "{{ chiton_source_dir }}/virtualenv"
    chiton_config_dir: "{{ chiton_source_dir }}/config"

- set_fact:
    chiton_config_file: "{{ chiton_config_dir }}/{{ chiton_env_name | require_value }}.json"
    chiton_python_bin: "{{ chiton_virtualenv_dir }}/bin/python"

- name: configure the application user
  include: user.yml
  tags:
    - user

- name: configure the application database
  include: database.yml
  tags:
    - database

- name: configure the application environment
  include: environment.yml
  become: yes
  become_user: "{{ chiton_user }}"
  tags:
    - application

- name: install dependencies
  include: dependencies.yml
  become: yes
  become_user: "{{ chiton_user }}"
  tags:
    - dependencies

- name: configure the application server
  include: server.yml
  tags:
      - server
