---
- name: configure the application user
  include: user.yml

- name: configure the application database
  include: database.yml

- name: install the application
  include: install.yml

- name: configure the application
  include: configuration.yml

- name: run management commands
  include: management.yml

- name: configure the application's scripts
  include: scripts.yml
