---
- name: load the application user's keys
  include_vars: user_keys.yml
  no_log: yes

- name: create the application group
  group:
    name: "{{ chiton_group }}"
    gid: "{{ chiton_group_id or omit }}"
    state: present

- name: create the application user
  user:
    name: "{{ chiton_user }}"
    group: "{{ chiton_group }}"
    home: "{{ chiton_user_home_dir }}"
    comment: "Chiton application user"
    uid: "{{ chiton_user_id or omit }}"
    shell: /bin/bash
    password: "*"
    state: present

- name: create the application user's SSH directory
  file:
    path: "{{ chiton_user_home_dir }}/.ssh"
    mode: 0700
    owner: "{{ chiton_user }}"
    group: "{{ chiton_group }}"
    state: directory
  register: chiton_user_ssh_dir

- name: add the GitHub deploy keys for the application user
  copy:
    dest: "{{ chiton_user_ssh_dir.path }}/{{ item.dest }}"
    content: "{{ item.content }}"
    mode: 0600
    owner: "{{ chiton_user }}"
    group: "{{ chiton_group }}"
  no_log: yes
  with_items:
    - content: "{{ chiton_deploy_ssh_key }}"
      dest: id_rsa
    - content: "{{ chiton_deploy_ssh_key_public }}"
      dest: id_rsa.pub

- name: add all known keys to the application user's authorized keys
  authorized_key:
    user: "{{ chiton_user }}"
    key: "{{ chiton_user_authorized_keys | join('\n') }}"
    exclusive: yes
    state: present

- name: manage sudo permissions for the app user
  template:
    src: templates/sudoers.j2
    dest: /etc/sudoers.d/{{ chiton_user }}
    mode: 0440
    owner: root
    group: root
    validate: visudo -cf %s
