#!/bin/bash

SSH_KEY="{{ keycdn_private_key_path }}"
ZONE="{{ keycdn_zone }}"

SOURCE_DIR=$(readlink -f "$1")
TARGET_DIR=$(readlink -f "$2")

if [ ! -d "$SOURCE_DIR" ] || [ ! -d "$TARGET_DIR" ]; then
  echo "Usage: $(basename "$0") SOURCE_DIR TARGET_DIR"
  exit 1
fi

rsync \
  --archive \
  --compress \
  --verbose \
  --rsh="ssh -i '$SSH_KEY'" \
  --chmod=u=rwX,g=rX "$SOURCE_DIR/" \
  "coveryourbasics@rsync.keycdn.com:zones/$ZONE/$TARGET_DIR/"
