---
- name: update the APT cache
  apt:
    update_cache: yes

- name: ensure that ntp is current
  apt:
    name: ntp
    state: latest
  notify:
    - restart ntp

- name: ensure that ntp is running
  service:
    name: ntp
    state: running
    enabled: yes

- name: customize readline settings
  copy:
    src: inputrc
    dest: /etc/inputrc
    owner: root
    group: root
    mode: 0644

- name: install tmux
  apt:
    name: tmux
    state: latest
