---
- name: update the APT cache
  apt:
    cache_valid_time: 3600
    update_cache: yes
  ignore_errors: yes

- name: ensure that swap space is available
  include: swap.yml
  when: ansible_swaptotal_mb < 1

- name: ensure that ntp is current
  apt:
    name: ntp
    state: latest
  notify:
    - restart ntp

- name: ensure that ntp is running
  service:
    name: ntp
    state: started
    enabled: yes

- name: customize readline settings
  copy:
    src: inputrc
    dest: /etc/inputrc
    owner: root
    group: root
    mode: 0644

- name: install tmux
  apt:
    name: tmux
    state: latest

- name: add build tools
  apt:
    name: build-essential
    state: latest
