# General
alias_database = hash:{{ postfix_aliases_file }}
alias_maps = hash:{{ postfix_aliases_file }}
virtual_alias_maps = hash:{{ postfix_virtual_aliases_file }}

# Null-client configuration
inet_interfaces = loopback-only
mydestination =
myhostname = {{ postfix_hostname }}
myorigin = {{ postfix_origin }}
relayhost = [{{ postfix_relay_host }}]:{{ postfix_relay_port }}

# Relay options
header_size_limit = 4096000
smtp_sasl_auth_enable = yes
smtp_sasl_password_maps = hash:{{ postfix_sasl_passwd }}
smtp_sasl_security_options = noanonymous
smtp_tls_security_level = encrypt
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache
smtpd_relay_restrictions = permit_mynetworks permit_sasl_authenticated reject_unauth_destination

{% if postfix_universal_redirect %}
# Redirects
virtual_maps = regexp:{{ postfix_virtual_regexp }}
{% endif %}
