'use strict'

var path = require('path');

module.exports.config = {
  app_name: ['Himation ({{ himation_environment | title }})'],
  license_key: '{{ himation_new_relic_license_key }}',

  logging: {
    enabled: true,
    filepath: path.join('{{ himation_log_dir }}', 'newrelic.log'),
    level: 'info'
  },

  error_collector: {
    enabled: {{ himation_new_relic_enabled | ternary('true', 'false') }}
  },

  browser_monitoring: {
    enable: false
  }
};
