{
  "assets": {
    "debug": true,
    "optimize": false
  },
  "server": {
    "debugLogging": true
  },
  "servers": {
    "app": {{ himation_app_server | require_value | to_json }},
    "assets": {{ himation_asset_server | require_value | to_json }}
  }
}
