{
  "assets": {
    "debug": {{ himation_debug_assets | lower }},
    "distDir": "{{ himation_current_version_assets_dir }}",
    "optimize": {{ himation_optimize_assets | lower }}
  },
  "chiton": {
    "endpoint": "{{ himation_chiton_endpoint | require_value }}",
    "token": "{{ himation_chiton_token | require_value }}"
  },
  "environment": "{{ himation_environment }}",
  "errors": {
    "sentryDsn": "{{ himation_sentry_dsn }}",
    "sentryDsnPublic": "{{ himation_sentry_dsn_public }}",
    "track": {{ himation_track_errors | lower }}
  },
  "server": {
    "debugLogging": {{ himation_use_debug_logging | lower }}
  },
  "servers": {
    "app": {
      "port": {{ himation_app_server_port }},
      "publicUrl": "{{ himation_app_server_public_url }}"
    },
    "assets": {
      "path": "{{ himation_assets_path | trailing_slash_url }}",
      "port": {{ himation_asset_server_port }},
      "publicUrl": "{{ himation_asset_server_public_url }}"
    }
  }
}
