# Execution
set daemon {{ monit_interval }}
set idfile {{ monit_lib_dir }}/id
set statefile {{ monit_lib_dir }}/state

# Logging
set logfile /var/log/monit.log
set mailserver localhost

# Interface
set httpd port {{ monit_httpd_port }}
  use address localhost
  allow localhost

# Configuration
include {{ monit_configs_dir }}/*
