---
- name: use the cron mailto for chiton cron jobs
  cronvar:
    name: MAILTO
    value: "{{ cron_mailto }}"
    user: "{{ himation_user }}"
    state: present

- name: add a cron job to refresh the cache every night
  cron:
    name: refresh cache
    job: "{{ cron_runner | quote }} {{ himation_npm_runner | quote }} refresh-cache"
    hour: "0"
    minute: "0"
    cron_file: himation-refresh-cache
    user: "{{ himation_user }}"
    state: present
    disabled: "{{ not himation_run_background_tasks }}"
