---
- name: add a robots.txt file
  template:
    src: robots.txt.j2
    dest: "{{ himation_current_version_public_dir }}/robots.txt"
    owner: "{{ himation_user }}"
    group: "{{ himation_group }}"
    mode: 0644

- name: update the current version's symlink
  file:
    src: "{{ himation_current_version_dir }}"
    dest: "{{ himation_current_dir }}"
    owner: "{{ himation_user }}"
    group: "{{ himation_group }}"
    state: link
  notify:
    - reload himation

- name: make the current version's favicon a public-level file
  file:
    src: "{{ himation_current_version_source_dir }}/src/ui/images/branding/favicon.ico"
    dest: "{{ himation_current_version_public_dir }}/favicon.ico"
    owner: "{{ himation_user }}"
    group: "{{ himation_group }}"
    state: link

- name: determine old releases
  shell: ls -dt {{ himation_versions_dir | quote }}/* | tail -n +{{ himation_keep_releases + 1 }}
  register: himation_old_releases
  changed_when: False

- name: prune old releases
  file:
    path: "{{ item }}"
    state: absent
  with_items: "{{ himation_old_releases.stdout | newline_list }}"
