---
- name: create all required application directories
  file:
    path: "{{ item }}"
    owner: "{{ himation_user }}"
    group: "{{ himation_group }}"
    mode: 0755
    state: directory
  with_items:
    - "{{ himation_root_dir }}"
    - "{{ himation_source_dir }}"

- become: yes
  become_user: "{{ himation_user }}"
  block:
    - name: fetch the source code
      git:
        accept_hostkey: yes
        clone: yes
        dest: "{{ himation_source_dir }}"
        repo: git@github.com:justinlocsei/himation.git
        update: yes
        version: "{{ himation_git_branch }}"

    - name: install Node dependencies
      npm:
        path: "{{ himation_source_dir }}"
        production: "{{ not himation_allow_development }}"
        state: present

    - name: link source directories through npm
      command: npm run link
      args:
        chdir: "{{ himation_source_dir }}"
      when: himation_allow_development
