---
- name: configure the application user
  include: user.yml

- name: install the application
  include: install.yml

- name: configure the application
  include: configuration.yml

- name: run build steps
  include: build.yml

- name: allow the application to run as a daemon
  include: daemon.yml
  when: himation_daemonize

- name: finalize the release
  include: finalize.yml
