---
- name: configure the application user
  include: user.yml

- name: install the application
  include: install.yml

- name: configure the application
  include: configuration.yml

- name: finalize the release
  include: finalize.yml
