init_config:

instances:
  - host: "{{ postgresql_server_address }}"
    port: {{ postgresql_server_port }}
    username: "{{ postgresql_server_stats_user_name }}"
    password: "{{ postgresql_server_stats_user_password }}"
