---
- set_fact:
    python_version_major: "{{ python_version | regex_replace('\\..*', '') }}"

- set_fact:
    python_executable: "python{{ python_version }}"
    python_pip_executable: "pip{{ python_version_major }}"

- name: add the deadsnakes Python repository
  apt_repository:
    repo: ppa:fkrull/deadsnakes
    state: present

- name: install Python v{{ python_version }}
  apt:
    name: "{{ item }}"
    state: present
  with_items:
    - python{{ python_version }}
    - python{{ python_version }}-dev

- name: install pip
  apt:
    name: "python{{ (python_version_major == 3) | ternary(3, '') }}-pip"
    state: present

- name: install virtualenv
  apt:
    name: python-virtualenv
    state: present
