---
chiton_api_url: /api/
chiton_assets_dir_name: assets
chiton_db_name: chiton
chiton_db_user_name: chiton
chiton_pip_version: 8.1.2
chiton_postgresql_version: 9.4
chiton_public_files_dir_name: public
chiton_python_version: 3.5
chiton_virtualenv_dir_name: venv
chiton_wheel_version: 0.29.0
chiton_wsgi_module: chiton.wsgi

chiton_assets_dir: "{{ chiton_current_dir }}/{{ chiton_assets_dir_name }}"
chiton_backups_dir: "{{ chiton_var_dir }}/backups"
chiton_current_dir: "{{ chiton_root_dir }}/current"
chiton_config_dir: "{{ chiton_root_dir }}/config"
chiton_media_dir: "{{ chiton_root_dir }}/media"
chiton_package_cache_dir: "{{ chiton_root_dir }}/.packages"
chiton_requirements_dir: "{{ chiton_source_dir }}/requirements"
chiton_scripts_dir: "{{ chiton_root_dir }}/scripts"
chiton_scripts_virtualenv_dir: "{{ chiton_scripts_dir }}/.venv"
chiton_server_virtualenv_dir: "{{ chiton_root_dir }}/.venv"
chiton_var_dir: "{{ chiton_root_dir }}/var"
chiton_versions_dir: "{{ chiton_root_dir }}/versions"
chiton_virtualenv_dir: "{{ chiton_current_dir }}/{{ chiton_virtualenv_dir_name }}"
chiton_wheel_cache_dir: "{{ chiton_package_cache_dir }}/wheels"

chiton_app_log_path: "{{ chiton_log_dir }}/app.log"
chiton_config_file: "{{ chiton_config_dir }}/environment.json"
chiton_log_dir: /var/log/chiton
chiton_manage_file: "{{ chiton_scripts_dir }}/manage.py"
chiton_public_files_dir: "{{ chiton_current_dir }}/{{ chiton_public_files_dir_name }}"
chiton_run_dir: /var/run/chiton
chiton_user_custom_profile: "{{ chiton_user_home_dir }}/.profile.chiton"
chiton_user_home_dir: "/home/{{ chiton_user }}"

chiton_backups_script: "{{ chiton_scripts_dir }}/backups"
chiton_current_version_manage_relative_path: bin/manage.py
chiton_gunicorn_bin: "{{ chiton_server_virtualenv_dir }}/bin/gunicorn"
chiton_gunicorn_process_name: chiton
chiton_scripts_virtualenv_python_bin: "{{ chiton_scripts_virtualenv_dir }}/bin/python"
chiton_virtualenv_python_bin: "{{ chiton_virtualenv_dir }}/bin/python"

chiton_gunicorn_config_file: "{{ chiton_config_dir }}/gunicorn.py"
chiton_server_access_log_path: "{{ chiton_log_dir }}/server-access.log"
chiton_server_error_log_path: "{{ chiton_log_dir }}/server-error.log"
chiton_server_pidfile_path: "{{ chiton_run_dir }}/gunicorn.pid"

chiton_requirements_files:
  - file: core.txt
    install: yes
    notify: reload chiton
  - file: development.txt
    install: "{{ chiton_allow_tests }}"
