---
chiton_assets_dir_name: assets
chiton_db_name: chiton
chiton_db_user_name: chiton
chiton_pip_version: 8.1.1
chiton_postgresql_version: 9.4
chiton_python_version: 3.5
chiton_server_proxy_name: chiton-proxy
chiton_server_upstream_name: chiton-upstream
chiton_virtualenv_dir_name: venv
chiton_wheel_version: 0.29.0
chiton_wsgi_module: chiton.wsgi

chiton_assets_dir: "{{ chiton_current_dir }}/{{ chiton_assets_dir_name }}"
chiton_backups_dir: "{{ chiton_var_dir }}/backups"
chiton_current_dir: "{{ chiton_root_dir }}/current"
chiton_config_dir: "{{ chiton_root_dir }}/config"
chiton_package_cache_dir: "{{ chiton_root_dir }}/.packages"
chiton_requirements_dir: "{{ chiton_source_dir }}/requirements"
chiton_scripts_dir: "{{ chiton_root_dir }}/scripts"
chiton_scripts_virtualenv_dir: "{{ chiton_scripts_dir }}/.venv"
chiton_var_dir: "{{ chiton_root_dir }}/var"
chiton_versions_dir: "{{ chiton_root_dir }}/versions"
chiton_virtualenv_dir: "{{ chiton_current_dir }}/{{ chiton_virtualenv_dir_name }}"
chiton_wheel_cache_dir: "{{ chiton_package_cache_dir }}/wheels"

chiton_app_log_path: "{{ chiton_log_dir_final }}/app.log"
chiton_config_file: "{{ chiton_config_dir }}/environment.json"
chiton_log_dir_app: "{{ chiton_var_dir }}/log"
chiton_log_dir_final: "{{ chiton_log_dir or chiton_log_dir_app }}"
chiton_manage_file: "{{ chiton_root_dir }}/manage.py"
chiton_run_dir_app: "{{ chiton_var_dir }}/run"
chiton_run_dir_final: "{{ chiton_run_dir or chiton_run_dir_app }}"
chiton_user_custom_profile: "{{ chiton_user_home }}/.profile.chiton"
chiton_user_home: "/home/{{ chiton_user }}"

chiton_scripts_virtualenv_python_bin: "{{ chiton_scripts_virtualenv_dir }}/bin/python"
chiton_virtualenv_gunicorn_bin: "{{ chiton_virtualenv_dir }}/bin/gunicorn"
chiton_virtualenv_python_bin: "{{ chiton_virtualenv_dir }}/bin/python"
chiton_virtualenv_rainbow_saddle_bin: "{{ chiton_virtualenv_dir }}/bin/rainbow-saddle"

chiton_gunicorn_config_file: "{{ chiton_config_dir }}/gunicorn.py"
chiton_server_access_log_path: "{{ chiton_log_dir_final }}/server-access.log"
chiton_server_error_log_path: "{{ chiton_log_dir_final }}/server-error.log"
chiton_server_pidfile_slave_path: "{{ chiton_run_dir_final }}/chiton-slave.pid"
chiton_server_pidfile_path: "{{ chiton_run_dir_final }}/chiton-master.pid"
chiton_server_socket_path: "{{ chiton_run_dir_final }}/chiton.sock"

chiton_requirements_files:
  - file: core.txt
    install: yes
  - file: development.txt
    install: "{{ chiton_allow_tests }}"
