---
chiton_app_log_path: "{{ chiton_log_dir or chiton_log_dir_app }}/{{ chiton_env_name }}-app.log"
chiton_config_file: "{{ chiton_config_dir }}/{{ chiton_env_name | require_value }}.json"
chiton_db_name: chiton
chiton_db_user_name: chiton
chiton_log_dir_app: "{{ chiton_var_dir }}/log"
chiton_log_path: "{{ chiton_log_dir or chiton_log_dir_app }}/{{ chiton_env_name }}.log"
chiton_monit_config: "{{ monit_configs_dir }}/chiton.conf"
chiton_pidfile_path: "{{ chiton_run_dir or chiton_run_dir_app }}/{{ chiton_env_name }}.pid"
chiton_postgresql_version: 9.4
chiton_python_version: 3.5
chiton_run_dir_app: "{{ chiton_var_dir }}/run"
chiton_socket_path: "{{ chiton_run_dir or chiton_run_dir_app }}/{{ chiton_env_name }}.sock"
chiton_user_custom_profile: "{{ chiton_user_home }}/.profile.chiton"
chiton_user_home: "/home/{{ chiton_user }}"
chiton_uwsgi_bin: "{{ chiton_virtualenv_dir }}/bin/uwsgi"
chiton_uwsgi_ini_file: "{{ chiton_config_dir }}/uwsgi-{{ chiton_env_name | require_value }}.ini"
chiton_venv_python_bin: "{{ chiton_virtualenv_dir }}/bin/python"

chiton_app_dir: "{{ chiton_source_dir }}/chiton"
chiton_config_dir: "{{ chiton_source_dir }}/config"
chiton_requirements_dir: "{{ chiton_source_dir }}/requirements"
chiton_var_dir: "{{ chiton_source_dir }}/var"
chiton_virtualenv_dir: "{{ chiton_source_dir }}/virtualenv"

chiton_nginx_site_config: "{{ nginx_sites_dir }}/chiton.conf"
chiton_ssl_certificate_key_path: "{{ nginx_certs_dir }}/chiton.key"
chiton_ssl_certificate_path: "{{ nginx_certs_dir }}/chiton.crt"
