user {{ nginx_user }} {{ nginx_group }};

worker_processes {{ ansible_processor_cores }};
worker_rlimit_nofile {{ nginx_nofile_limit }};

events {
    use epoll;
    worker_connections {{ nginx_nofile_limit }};
}

http {
    include /etc/nginx/mime.types;

    default_type application/octet-stream;

    gzip on;
    sendfile on;
    tcp_nodelay on;
    tcp_nopush on;

    include /etc/nginx/conf.d/*.conf;
}
