user {{ nginx_user }} {{ nginx_group }};

worker_processes {{ ansible_processor_cores }};
worker_rlimit_nofile {{ nginx_nofile_limit }};

events {
  use epoll;
  worker_connections {{ nginx_nofile_limit }};
}

http {
  include /etc/nginx/mime.types;

  default_type application/octet-stream;

  sendfile on;
  tcp_nodelay on;
  tcp_nopush on;

  server_tokens off;

  ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
  ssl_dhparam {{ nginx_dhparam_pem }};
  ssl_prefer_server_ciphers on;
  ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
  ssl_session_cache shared:SSL:20m;
  ssl_session_timeout 180m;

  include /etc/nginx/conf.d/*.conf;
}
