---
- name: add the PostgreSQL package repository's key
  apt_key:
    url: https://www.postgresql.org/media/keys/{{ postgresql_client_apt_key_id }}.asc
    id: "{{ postgresql_client_apt_key_id }}"
    state: present

- name: add the PostgreSQL package repository
  apt_repository:
    repo: deb http://apt.postgresql.org/pub/repos/apt/ {{ ansible_distribution_release }}-pgdg main
    state: present

- name: install the PostgreSQL client
  apt:
    name: postgresql-client-{{ postgresql_client_version }}
    state: present

- name: install the PostgreSQL development files
  apt:
    name: postgresql-server-dev-{{ postgresql_client_version }}
    state: present

- name: install a PostgreSQL library for the system Python
  apt:
    name: python-psycopg2
    state: present
