---
- name: create the Docker container
  docker:
    name: cyb-postgresql
    image: postgres:{{ postgresql_server_version }}
    pull: always
    ports: "{{ postgresql_server_port }}:5432"
    env:
      POSTGRES_PASSWORD: "{{ postgresql_server_root_password | require_value }}"
      POSTGRES_USER: "{{ postgresql_server_root_user }}"
    state: reloaded
  no_log: yes
