nginx ({{ cyb_package_version }}.cyb-1~{{ ansible_distribution_release }}) {{ ansible_distribution_release }}; urgency=medium

  * Use an OpenSSL build that allows HTTP2 to be used in newer browsers

 -- Cover Your Basics <operations@coveryourbasics.com>  Mon, 22 Aug 2016 00:00:00 +0000
