---
- name: monitor services with Datadog
  template:
    src: datadog/{{ item }}.yaml.j2
    dest: "{{ datadog_configs_dir }}/{{ item }}.yaml"
    owner: "{{ datadog_user }}"
    group: "{{ datadog_group }}"
    mode: 0644
  notify:
    - restart Datadog
  with_items:
    - gunicorn
    - postfix
    - redisdb
    - varnish
