---
- name: check if the nginx site config exists
  stat:
    path: "{{ app_server_nginx_site_himation }}"
  register: app_server_check_himation_site
  changed_when: False

- name: create the nginx site config
  template:
    src: nginx/himation.conf.j2
    dest: "{{ app_server_nginx_site_himation }}"
    owner: root
    group: root
    mode: 0644
  notify:
    - reload nginx

- name: apply a new site config
  service:
    name: nginx
    state: restarted
  when: app_server_check_himation_site.stat.isreg is not defined

- name: create a monit config
  template:
    src: monit/himation.conf.j2
    dest: "{{ app_server_monit_config_himation }}"
    mode: 0600
    owner: "{{ monit_user }}"
    group: "{{ monit_group }}"
  when: himation_daemonize
  notify:
    - reload monit

- name: delete the monit config
  file:
    path: "{{ app_server_monit_config_himation }}"
    state: absent
  when: not himation_daemonize
  notify:
    - reload monit

- name: configure log rotation
  template:
    src: logrotate/himation.j2
    dest: "{{ logrotate_conf_dir }}/himation"
    owner: root
    group: root
    mode: 0644
